* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%; 
    background: linear-gradient(to right, #ece9e6, #ffffff);
    padding: 60px 20px;
    color: #333;
    transition: background 0.4s ease, color 0.4s ease;
}


body.dark-mode {
    background: #1e1e1e;
    color: #f1f1f1;
}



#themeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

h1 {
    /* font-size: ; */
    margin-bottom: 30px;
    color: #38074e;
}

label {
    /* font-size: ; */
    margin-right: 10px;
}

#container {
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}

button {
    margin-top: auto;
    align-self: center;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 6px; 
    border: none;
    background-color: rgb(31, 58, 1);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(28, 141, 13);
}

button:active {
    background-color: rgb(71, 167, 15);
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    align-self: center;
    margin-top: 30px;
    font-weight: 700;
    border: 1.5px solid;
}

input[type="number"] {
    background: transparent;
    width: 60px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

#diceResult {
    margin: 20px 0;
    font-size: 1.3rem;
}



#diceImages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 50px;
}

#diceImages img {
    color: inherit;
    fill: currentColor;
    width: 100px;
    height: 100px;
    margin: 5px;
    transition: transform 0.3s ease;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}

#diceImages img:hover {
    transform: scale(1.1);
}

body.dark-mode #diceImages img {
    color: #ffffff;
}

.dice {
    width: 70px;
    height: 70px;
    animation: shake 0.5s ease;
}

@keyframes shake {
    0%    {transform: translate(1px, 1px) rotate(0deg);}
     10%    {transform: translate(-1px, -2px) rotate(-1deg);}
    20%   {transform: translate(-3px, 0px) rotate(1deg);}
     30%    {transform: translate(3px, 2px) rotate(0deg);}
    40%   {transform: translate(1px, -1px) rotate(1deg);}
     50%    {transform: translate(-1px, 2px) rotate(-1px);}
    60%   {transform: translate(-3px, 1px) rotate(0deg);}
     70%    {transform: translate(3px, 1px) rotate(-1deg);}
    80%   {transform: translate(-1px, -1px) rotate(1deg);}
     90%    {transform: translate(1px, 2px) rotate(0deg);}
    100%   {transform: translate(1px, -2px) rotate(-1deg);}
}

.shake {
    animation: shake 0.6s;
}